.promo {
  height: 100vh;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/potolok-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% bottom;
  padding-bottom: 40px;
  user-select: none;
  .container {
    display: grid;
    height: 100%;
  }
  &__text {
    align-self: self-end;
  }
  &__title {
    max-width: 600px;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
  }
  &__subtitle {
    margin-top: 30px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.1px;
  }
}
